<% if user_signed_in? %>
  <% if @burger.user == current_user %>
    <%= link_to "Edit my burger", "#" %>
  <% else %>
    <h1>Add a new booking</h1>
    <%= simple_form_for [@burger, @booking] do |f| %>
      <%= f.input	 :start_date, as: :date %>
      <%= f.input	 :end_date, as: :date %>
      <%= f.submit "Submit booking" %>
    <% end %>
  <% end %>
<% else %>
  <p>You need to be logged in to make a booking</p>
  <button><%= link_to "Login", new_user_session_path %></button>
<% end %>
