<% if user_signed_in? %>
  <% unless @burger.user == current_user %>
    <div class="card bg-info bg-opacity-10 border-0 rounded-4 p-4", data-controller="booking-modal">
      <h2>Book now!</h2>
      <%= simple_form_for [@burger, @booking], data: { booking_modal_target: "form", action: "submit->booking-modal#send" } do |f| %>
        <%= f.input	 :start_date, as: :date, order: [:day, :month, :year] %>
        <%= f.input	 :end_date, as: :date, order: [:day, :month, :year] %>
        <button type="submit" class="btn btn-info rounded-4 text-light fw-bold w-100">
          Submit booking
        </button>
        <% if params[:booking_id].present? %>
          <%= render 'booking_modal' %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p class="text-secondary">You need to be logged in to make a booking</p>
  <%= link_to "Login", new_user_session_path, class: "btn btn-outline-info rounded-4" %>
<% end %>


<!-- Modal -->
