<% if user_signed_in? %>
  <% unless @burger.user == current_user %>
    <div class="card bg-info bg-opacity-10 border-0 rounded-4 p-4">
      <h2>Book now!</h2>
      <%= simple_form_for [@burger, @booking] do |f| %>
        <div data-calendar-target="form" data-controller="calendar">
          <%= f.text_field	 :start_date, name: "start_date", autocomplete: "off", class: "date-input", placeholder: "Start" %>
          <%= f.text_field   :end_date, name: "end_date", autocomplete: "off", class: "date-input", placeholder: "End" %>
        </div>
        <%= f.submit "Submit booking", class: "button-book" %>

      <% end %>

    </div>
  <% end %>
<% else %>
  <p class="text-secondary">You need to be logged in to make a booking</p>
  <%= link_to "Login", new_user_session_path, class: "btn btn-outline-info rounded-4" %>
<% end %>
