<% if user_signed_in? %>
  <% unless @burger.user == current_user %>
    <div class="show-page-card background-white">
      <h2>Book Now</h2>
      <%= simple_form_for [@burger, @booking] do |f| %>
        <%= f.input	 :start_date, as: :date, order: [:day, :month, :year]  %>
        <%= f.input	 :end_date, as: :date, order: [:day, :month, :year] %>
        <%= f.submit "Submit booking", class: "button-book" %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p>You need to be logged in to make a booking</p>
  <button><%= link_to "Login", new_user_session_path %></button>
<% end %>
