<div class="container">
    <h1>Add a new burger</h1>
    <%= simple_form_for(@burger) do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :photos,
                  label: "One or more photos of your burger ðŸ”",
                  as: :file,
                  input_html: { multiple: true }  %>
      <%= f.button :submit, "Add your burger" %>
    <% end %>

</div>
