
<div class="container grid my-4" style="box-sizing: border-box;">
  <div class="row g-3">
    <div class="col">
      <div class="text-center">
        <% if @burger.photos.count > 1 %>
          <%= render "carousel" %>
        <% else %>
          <%= cl_image_tag(@burger.photos[0].key, class: "rounded", width: "500", height: "500", :crop=>"fill") %>
        <% end %>
      </div>
    </div>
    <div class="col card rounded-4 border-0 p-4 shadow-sm">
      <div class="show-page-main">
        <h1><%= @burger.name %></h1>
        <p><%= @burger.description %></p>
      </div>
      <%= render "booking" %>
      <%# EDIT & DELETE LINKS, ONLY SHOW IF USER IS THE OWNER OF THE BURGER %>

      <% if current_user == @burger.user %>

        <%= link_to "Delete this burger", burger_path(@burger), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this burger?"} %>

        <%= link_to "Edit this burger", edit_burger_path(@burger) %>

      <% end %>

    </div>
  </div>
  <div class="row">
    <div class="col card rounded-4 border-0 p-4 shadow-sm mt-3 me-0">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Reviews</h2>
        <% if @can_review %>
          <%= link_to "Review", new_burger_review_path(@burger), class: "btn btn-primary rounded-4 text-light fw-bold" %>
        <% end %>
      </div>
      <% @burger.reviews.each do |review| %>
        <div class="review-item">
          <p class="review-item-rating"><%= review.rating %></p>
          <p><%= review.content %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
