
<div class="container grid my-4" style="box-sizing: border-box;">
  <div class="row g-3">
    <div class="col">
      <div class="text-center">
        <% if @burger.photos.count > 1 %>
          <%= render "carousel" %>
        <% else %>
          <%= cl_image_tag(@burger.photos[0].key, class: "rounded", width: "500", height: "500", :crop=>"fill") %>
        <% end %>
      </div>
    </div>
    <div class="col card rounded-4 border-0 p-4 shadow-sm">
      <div class="show-page-main">
        <h1><%= @burger.name %></h1>
        <p><%= @burger.description %></p>
      </div>

      <%= render "burgers/booking" %>

      <%# EDIT & DELETE LINKS, ONLY SHOW IF USER IS THE OWNER OF THE BURGER %>

      <% if current_user == @burger.user %>
        <div class="row d-flex">
        <%= link_to "Edit", edit_burger_path(@burger), class: "col button-main text-center" %>
          <%= link_to "Delete", burger_path(@burger), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this burger?"}, class: "col button-main button-warning text-center" %>
        </div>
      <% end %>

    </div>
  </div>
  <div class="row g-3 mt-3">
    <div class="col card rounded-4 border-0 p-4 shadow-sm mt-3">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Reviews</h2>
        <% if @can_review %>
          <%= link_to "Review", new_burger_review_path(@burger), class: "btn btn-primary rounded-4 text-light fw-bold" %>
        <% end %>
      </div>
      <% if @burger.reviews.count != 0 %>
        <% @burger.reviews.reverse_each do |review| %>
          <div class="review-item justify-content-between">
            <div class="d-flex align-items-center">
            <p class="review-item-rating"><%= review.rating %> <i class="fa-solid fa-star fa-2xs"></i></p>
            <p class="fst-italic"><%= review.content %></p>
            </div>

            <% if current_user == review.user %>
              <div class="p-3">
                <%= link_to edit_review_path(review) do %>
                  <p class="text-primary"><i class="fa-solid fa-pen"></i></p>
                <% end %>
              </div>
            <% end %>

          </div>
        <% end %>
      <% else %>
        <p class="text-muted">No reviews yet</p>
      <% end %>
    </div>



  </div>
</div>
