
<div class="container grid mt-4">
  <div class="row">
    <div class="col">
      <div class="pb-4">
        <% if @burger.photos.count > 1 %>
          <%= render "carousel" %>
        <% else %>
          <%= cl_image_tag(@burger.photos[0].key, class: "rounded", width: "500", height: "500", :crop=>"fill") %>
        <% end %>
      </div>
    </div>
    <div class="col pb-4">
      <div>
        <h1><%= @burger.name %></h1>
        <p><%= @burger.description %></p>
      </div>

      <h3>Reviews for <%= @burger.name %></h3>

        <% @burger.reviews.each do |review| %>
          <div class="container">
            <h4><%= review.rating %></h4>
            <p><%= review.content %></p>
          </div>
        <% end %>
    </div>
  </div>
</div>

<h1>Add a new booking</h1>
<%= simple_form_for [@burger, @booking] do |f| %>
  <%= f.input	 :start_date, as: :date %>
  <%= f.input	 :end_date, as: :date %>
  <%= f.submit "Submit booking" %>
<% end %>
