<div class="container my-4">
  <h1>
    <% if @profile.photo.key %>
      <%= cl_image_tag(@profile.photo.key, :width=>300, :height=>300, :gravity=>"faces", :crop=>"thumb", alt: "profile picture of #{@profile.username}", class: "avatar-large d-inline avatar-shadow") %>
    <% end %>

    <span class="profile-shadow"><%= "#{@profile.username}'s profile" %></span>
  </h1>

  <div class="card border-0 rounded-4 p-4 shadow-sm mb-3 mt-4">
    <h2>Your burgers</h2>
    <% if @profile.burgers.size >= 1 %>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-3 p-3">
        <% @profile.burgers.reverse_each do |burger| %>

          <div class="col">
            <div class="card h-100 rounded-3 border-0 shadow position-relative">
              <%= link_to cl_image_tag(burger.photos[0].key, :width=>300, :height=>300, :crop=>"thumb", alt: 'photo of the burger', class: 'card-img-top rounded-top'), burger_path(burger) %>
              <div class="rating-overlay">
                <% if burger.reviews.count != 0 %>
                  <small class="bg-light rounded-circle p-3 px-2"><%= burger.average_rating %> <i class="fa-solid fa-star fa-2xs"></i></small>
                <% else %>
                  <small class="bg-light rounded-circle p-3 px-1">New <i class="fa-solid fa-star fa-2xs"></i></small>
                <% end %>
              </div>
              <div class="card-body">
                <h5 class="card-title"><%= burger.name %></h5>
                <p class="card-text fw-light align-bottom"><%= burger.description %></p>
              </div>
              <div class="card-footer d-flex justify-content-between border-0">
                <%= link_to "Delete", burger_path(burger), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete '#{burger}'"}, class: 'text-danger' %>
                <p class="card-text pb-0">$$$</p>
              </div>
            </div>
          </div>

        <% end %>
      </div>
    <% else %>
        <p>You haven't created a burger yet.</p>
    <% end %>
  </div>

  <div class="card border-0 rounded-4 p-4 shadow-sm my-3">
    <h2>Your bookings</h2>
    <% if @profile.bookings.size >= 1 %>
      <div class="row row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-3 p-3">
        <% @profile.bookings.reverse_each do |booking| %>



          <%= link_to burger_path(booking.burger) do %>
            <div class="col">
              <div class="card h-100 border-0 rounded-3 shadow">
                <div class="card-body">
                  <div class="card-title">
                    <h4><span class="text-success"><i class="fa-regular fa-circle-check fa-sm"></i></span>  <%= booking.burger.name %></h4>
                  </div>
                  <div class="text-center mt-4">
                    <p class="fs-6"><i class="fa-solid fa-calendar-days"></i>
                    <%= booking.start_date.day %>/<%= booking.start_date.month %>/<%= booking.start_date.year %> to
                    <%= booking.end_date.day %>/<%= booking.end_date.month %>/<%= booking.end_date.year %></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

        <% end %>
      </div>
    <% else %>
      <p>You don't have any bookings yet.</p></li>
    <% end %>
  </div>

  <div class="card border-0 rounded-4 p-4 shadow-sm my-3">
    <h2>Your reviews</h2>
    <% if @profile.reviews.size >= 1 %>
      <div class="row row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-3 p-3">
        <% @profile.reviews.reverse_each do |review| %>
          <div class="col">
            <div class="card h-100 border-0 rounded-3 shadow">
              <div class="card-body">
                <div class="card-title">
                  <h4><%= review.burger.name %></h4>
                </div>
                <div class="card-text">
                  <p class="fs-5"><%= review.rating %> <span class="text-warning"><i class="fa-solid fa-star fa-xs"></i></span></p>
                  <p class="fst-italic text-center">"<%= review.content %>"</p>
                </div>
              </div>
              <div class="card-footer d-flex justify-content-between border-0">
                <%= link_to "Delete",
                  review_path(review),
                  data: {turbo_method: :delete, turbo_confirm: "Really delete this review?"},
                  class: "text-danger" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>You don't have any reviews yet.</p>
    <% end %>
  </div>

</div>
