<div class="container my-5">
  <div class="card rounded-4 border-0 p-4 shadow-sm">
    <h1>Edit review</h1>
    <%= simple_form_for [@burger, @review] do |f| %>
      <%= f.input :content %>
      <%= f.label :rating %>
      <%= f.collection_select :rating, [[1, '⭐'], [2, '⭐⭐'], [3, '⭐⭐⭐'], [4, '⭐⭐⭐⭐'], [5, '⭐⭐⭐⭐⭐']], :first, :last %>
      <%= f.submit "Submit review", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
