<!DOCTYPE html>
<html>
  <head>
    <title>BurgsRUs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.1/dist/css/datepicker.min.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="d-flex flex-column">
    <%= render 'shared/navbar' %>
    <%= yield %>
    <%= render "shared/flashes" %>
    <%= render 'shared/footer' %>
  </body>
</html>
